body{
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    height: auto;
    width:980px;
    margin: 10px auto;
}
#header{
    padding: 7px;
    height: 50px;
    background-color: #ff9999;
    position: relative;
    color: white;
}
#title{
    width: 115px;
    height: 100%;
    float: left;
}
#logo{
    width: 100%;
    height: 100%;
}
#nav{
    height: 100%;
    width: 350px;
    float: right;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;  
}
li a{
    height: 100%;
    display: block;
    color: white;
    padding: 28px;
    padding-top: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: white;
    color: pink;
}
#key{
    padding: auto;
    height: 200px;
    position: relative;
}
#middle{
    height: 370px;
}
#article{
    margin-top: 10px;
    padding: auto;
    height: 300px;
    width: 630px;
    float: right;
    position: relative
}
#aside{
    margin-top: 10px;
    padding: auto;
    height: 350px;
    width: 300px;   
    float: left;
    position: relative;
}
#pfooter{

    padding-top: 10px;
}
#footer{
    
    height: 30px;
    background-color: grey;
    position: relative;
    align-content: center;
    text-align: center;
    color: white;
}
#top{
    width: 100%;
    height: 100%;
}
.aside1{
    height: 180px;
    width: 100%;
    margin-bottom: 10px;
    align-content: unset;
}
.aside1 li{
    background-color: #F5B4B3;
    height: 50px;
    
    margin-bottom: 10px;
    width: 100%;
    text-align: initial;
}
#banner{
    width: 100%;
    height: 100%;
}
form{
    margin: 10px auto;   
    width: 95%
}
input{
    width: 480px;
}
.inp{
    margin: 5px;
}
.radB{
    width: auto;   
}
#submit{
    width: 80px;
    margin: 20px auto;
    align-self: center;
    height: 50px;
    margin-left: 240px;
    background-color: deepskyblue;
    color: white;
    font-size: 24px;
    font-family: cursive;
}
#submit:hover{
   opacity: 0.5; 
}
#cnt{
    height: 50px;
}
label{
    font-family: cursive;
    margin-right: 5px;
}
.lb{
    width: 150px;
}
.inpt{
    width: 480px;
}
td{
    padding-top: 10px;
    padding-bottom: 10px;
}
